/* crear las variables que van a contener algunos de los colores utilizados en el proyecto */
:root{
    /* --color-primary: cornflowerblue; */
    --color-primary: #000538;
    --color-primary-dark: rgb(53, 93, 169);
    --color-gray: rgba(2, 44, 150, 0.73);
}