/* MENU DE LA PAGINA */

/* dar estilos a los diferentes itens del menu */
#menu{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    
}

#menu li a{
    display: block;
    padding: 5px;
    margin-bottom: 7px;
    /* color: rgb(4, 4, 4); */
}

#menu li a.active{
    color: var(--color-gray);
    text-decoration: underline;
}

#menu li a:hover{
background-color: #7b7a7ae2;
/* color: var(--color-primary); */
color: rgb(255, 255, 255);
text-decoration: none;
}


/* solo cuando la pantalla tenga el tamaño minimo de 768px alinear el texto a la izquierda */
/*para pc*/
@media only screen and (min-width: 768px) {
    #menu{
        text-align: left;
    }
}