.title_p{
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Oswald', sans-serif; */
    
    /* font-family: 'Merriweather', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika Negative', sans-serif; */

    font-family: 'Merriweather', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika Negative', sans-serif;

    text-align: center;
}

.search_i{
    float: left;
    padding: 10px;
    width: 50%;
    border: none;
    border-bottom: 1px solid red;
    outline: 0;
}

.select{
    float: right;
    padding: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    
}

/* .barra_select{
    width: 100px;
    border: 2px solid blueviolet;
} */

.caja{
    float: inherit;
    border: 1px solid blue;
    width: 30%;
    text-align: left;
    
}

.m_select{
    background-color: orange;
    padding: 10px;
    height: 40px;
     
}

.m_select::after{
    /* content: '\25BC'; */
    /* content: '\02C5'; */
    content: '\1401';
    /* position: absolute; */
    top: 0;
    right: 0;
    
    /* padding: 2px 2px 0px 2px;
    height: 30px; */
    /* background-color: red; */
    float: right;
    cursor: pointer;
    /* border: 1px solid black; */
}

.sel{
    list-style: none;
    padding: 0;
    background-color: purple;
    margin: 0;
    
}

.sel li{
    border: 1px solid red;
    padding: 5px;
    text-align: left;
    
}

.sel li:hover{
    cursor: pointer;
    background-color: aqua;
    
    
}

.m_select:hover::after{
    content: '\1403';
}

/* .img_doble {
    position: relative; 
  }
  
.img_doble #aa {
    position: absolute;
} */


.product-box{

    position: relative; 
    text-align: center;
    color: black;
    text-decoration: none;
}

.product-box #top{
    position: absolute;
    width: 95%;
}

.product-box:hover{
    text-decoration: none;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.product-box{
    transition: all 0.3s;
    
}

.product-box img{
    height: 300px;
    white-space: nowrap;
    image-resolution: ellipsis;
    transition: all 0.3s;
    transition: opacity 0.2s ease-in-out;
}


.product-box:hover img{
    transform: scale(1.05);
    
}

.product-box:hover img#top{
    opacity: 0;
}

.product-box h3{
    font-size: 14px;
    font-weight: normal;
    margin: 5px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-box .off{
    color: red;
    font-weight: bold;
}

.product-box .off.hidden{
    visibility: hidden;
}

.price{
    font-size: 13px;
}

.pagi{
    text-align: center;
    list-style: none;
    font-size: 18px;
}
.pagi li{
    display: inline-block;
}

.pagi li a{
    padding: 5px;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
}

.pagi li a.active{
    background-color: #081837;
    color: white;
}

.pagi li a:hover{
    background-color: #081837;
    color: white;
}

